<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlayListify | playlists</title>
  <link href="https://fonts.googleapis.com/css2?family=Dhurjati&display=swap" rel="stylesheet">
    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/artistPlaylist.css">
  <link rel="icon" href="Images/spotifyLogo.png" >

</head>
<body>
  <nav class="nav">
    <ul class="navItems">
      <figure class="logo">
        <img src="../Images/musicaWhite.png" alt="Logo" >
      </figure>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../templates/artistPlaylist.html">Create artist playlist</a></li>
      <li><a href="../templates/userStats.html">Stats</a></li>

      <li><a href="../templates/about.html">About</a></li>
    </ul>

    <div class="features">
      <a href="https://spotify-toolskit.onrender.com/login"><button class="log">Login</button></a>
    </div>

  </nav> 

  <h1 class="title">Choose a playlist to add the extracted songs to a new playlist.</h1>
  <h3 class="title" style="color: white !important;">For now, only the first 50 artists of each playlist will be added, along with the songs within that range.</h3>

  <!-- <form action="" method="GET" class="form">
    <input type="search" class="playInput" placeholder="playlists name">
    <input type="submit" class="submit">
  </form>

  <form action="" class="artistForm"> 
    <input type="text" placeholder="artist name" class="artistsInput">
    <input type="text" placeholder="Playlist Name" class="playlistName">
    <input type="submit">

  </form> -->

  <div class="playlists">



  </div>
  <div class="artist-modal modal-disable">
  <img src="../Images/x.png" alt="" class="close-modal">



    <div class="artist-container">

    </div>

    </div>
    <footer>
      <p>Powered by <a href="https://open.spotify.com">Spotify</a> Created by <a href="https://github.com/Eyvarjgc">Eyvarjgc</a></p>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../js/artistPlaylist.js" type="module"></script>
</body>
</html>