*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

}
button{
  background-color: transparent;
  border: transparent;
}

img{
  width: 100%;
}

body{
  background-color: var(--backgroundBlack);
  /* font-family: 'Dhurjati', sans-serif; */
  color: white;
}:root{
  --backgroundWhite: #522b5b;
  --backgroundBlack: #190019;
  --tileWhite: #fbe4d8;
  --navFont: helvetica neue;
  --text: sans-serif;
  --special: arial;



}

.nav{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-left: 1em;
  justify-content: space-evenly;
  .logo{
      width: 50px;
      display: block;
  }
  .navItems{
      display: flex;
      font-size: 15px !important;
      gap: 1em;
      align-items: center;
      justify-content: center;
    margin: 1em auto;
  }
  .navItems li a{
      color: var(--tileWhite);
      font-family: var(--navFont);
  }
  .features{
      display: flex;
      width: 30px;
      height: min-content;
      margin-left: 1.5em;
  }
  .features button:hover{
      cursor: pointer;
  }
  .log{
      color: greenyellow;
      font-family: var(--navFont);
      font-size: 20px; 
      display: none;
  }

}

.title{
  width: 80%;
  margin: 1em auto;
  font-family: var(--text);
  color: greenyellow;
  font-size: 15px;
  text-align: center;

}

.playlists{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 2fr));
  grid-template-rows: repeat(6, auto);
  gap: 10px;

  .playlistItem{
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    font-family: var(--special);
    width: 150px;

    font-size: 8px;

    .playlistItem-Img{
      height: 150px ;
    }
    .playlistItem-Img:hover{
      cursor: pointer;
    }
    .playlistItem-name{
      text-align: left;
    }
  }
}

.artist-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90vh;
  background-color: #673375a9;
  border-radius: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .artist-container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
  .artist{
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    transition: all 1s;
    padding: 5px;
    margin: 0 auto;
    /* border: 1px solid greenyellow; */
    background-color: black;
  }
  .artist:hover{
    background-color: #522b5bcf;
    cursor: pointer;
  }
  .artist-img{
    width: 40px;
    border-radius: 50px;
  }
  .artist-name{
    font-size: 15px;
    color: greenyellow;
    font-weight: 800;
    margin: 0 auto;
  }
}
.modal-disable{
  display: none;
}
.close-modal{
  width: 50px;
  height: 50px;
}

.spotifyButtons{
  margin: 2em  auto;
  width: 150px;
  background-color: #1db954;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  gap: 0.5em;
  img{
      width: 35px;
  }
  p{
      font-weight: 700;
      font-size: 13px;
      color: black;
      font-family: arial;
  }
}


@media (min-width: 750px) {
  .title{
    width: 70%;
    font-size: 20px;
    font-family: var(--text);
    margin: 1em auto;
  }

  .nav{
    justify-content: space-around;

    .logo{
        width: 70px;
        display: block;
    }
    .navItems{
        display: flex;
        font-size: 25px !important; 
        gap: 1em;
        align-items: center;
        margin: 0 !important;

    }

    .log{
        display: block;
    }
}
.playlists{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(6, auto);
  gap: 20px;


}
}


footer{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: var(--special);
  padding: 1.5em;
}

