*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
button{
    background-color: transparent;
    border: transparent;
}

img{
    width: 100%;
}

body{
    background-color: var(--backgroundBlack);
    color: white;
}
:root{
    --backgroundWhite: #522b5b;
    --backgroundBlack: #190019;
    --tileWhite: #fbe4d8;
    --navFont: helvetica neue;
    --text: sans-serif;
    --special: arial;


}
.nav{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-left: 1em;
    justify-content: space-evenly;
    .logo{
        width: 50px;
        display: block;
    }
    .navItems{
        display: flex;
        font-size: 15px !important;
        gap: 1em;
        align-items: center;
        justify-content: center;
      margin: 1em auto;
    }
    .navItems li a{
        color: var(--tileWhite);
        font-family: var(--navFont);
    }
    .features{
        display: flex;
        width: 30px;
        height: min-content;
        margin-left: 1.5em;
    }
    .features button:hover{
        cursor: pointer;
    }
    .log{
        color: greenyellow;
        font-family: var(--navFont);
        font-size: 20px; 
        display: none;
    }
  
  }
  
.hero{
    .container{
        width: 80%;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        
        .textContainer{
            height: 50%;
            margin: auto 0;
            order: 2;
            font-family: var(--text);
            .stats{
                text-shadow: 5px 5px 8px greenyellow;
            }

        }
        .textContainer h3{
            font-size: 15px;
            margin-top: 2em;
        }

        .textContainer h2{
            font-size: 40px;
            margin-top: 10px;
            margin-left: 5px;


        }

        .textContainer p{
            font-size: 20px;
            margin-left: 10px;
            margin-bottom: 1em;
        }
        .buttonStats{
            padding: 1em 1em;
            border: 1px solid greenyellow;
            color: greenyellow;
            font-size: 12px;
            transition: all 1s;
        }
        .buttonStats:hover{
            background-color: greenyellow;
            border-radius: 5px;
            color: black;
        }
        .img{
            order: 1;
        }
        .img figure{
            width: 100%;
        }
    }


}

.top{
    margin-top: 5em;
    .container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto; 

        .container-topSongs{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: start;
            justify-content: center;
            


            .containerItemTitle{
            color: greenyellow;
            text-shadow: 3px 3px 3px rgb(0, 0, 0);
            margin: 0 auto;
            font-size: 40px;

        }

        .selectOptions{
            background-color: transparent;
            border: transparent 0px solid;
            font-size: 30px;    
            color: greenyellow;
            margin-left: 1em;
            margin-top: 1em;
        } 
        .selectOptions .option{
            background-color: #190019;
        }
        }

        .containerItems{
            display: flex;
            flex-direction: column;
            gap: 2em;
            justify-content: center;
            align-items: center;
            margin: 2em auto;
        }
        .containerItem{
            margin: 0 auto;
            width: 300px;
            text-align: center;
        }
        .containerItem h1{
            font-size: 20px;
        }
        .containerItem figure{
            width: 70%;
            margin: 1em auto;
        }

        .containerItem p{
            font-size: 15px;
        }



    }




    .buttonStats{
        padding: 1em 4em;
        border: 1px solid greenyellow;
        color: greenyellow;
        font-size: 15px;
        width: fit-content;
        margin: 0 auto;
        transition: all 1s;
    }
    .buttonStats:hover{
        background-color: greenyellow;
        border-radius: 5px;
        color: black;
    }
}

.spotifyButtons{
    margin: 2em  auto;
    width: 150px;
    background-color: #1db954;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    gap: 0.5em;
    img{
        width: 35px;
    }
    p{
        font-weight: 700;
        font-size: 13px;
        color: black;
        font-family: arial;
    }
}


@media (min-width: 750px) {
    .nav{
        justify-content: space-around;
    
        .logo{
            width: 70px;
            display: block;
        }
        .navItems{
            display: flex;
            font-size: 25px !important; 
            gap: 1em;
            align-items: center;
            margin: 0 !important;
    
        }
    
        .log{
            display: block;
        }
    }
    
    .hero{
        .container{
            width: 80%;
            height: 70vh;
            margin: 2em auto;
            display: flex;
            flex-direction: column;

    
            .textContainer{
                height: 50%;
                margin: auto 0;
                order: 1;
                padding: 1em;
                font-family: var(--text);
                
                .buttonStats{
                    font-size: 20px;
                }
    
            }
            .textContainer h3{
                font-size: 30px;
                margin-top: 2em;
            }
    
            .textContainer h2{
                font-size: 60px;
                margin-top: 10px;
                margin-left: 5px;
            }
            .textContainer p{
                font-size: 30px;
                margin-left: 10px;
            }
    
            .img{
                order: 2;
                height: 50%;
            }
            .img figure{
                width: 50%;
                margin-left: 30em;
            }
        }
    
    
    }
    .top{
    margin-top: 7em;
        
    .container{
            .containerItems{
                margin: 7em 0;
                display: flex;
                flex-direction: row;

                
            }

          
            .buttonStats{
                margin-bottom: 2em;
                font-size: 20px;
            }

        }
    }


        .selectOptions{
            background-color: transparent;
            border: transparent 0px solid;
            font-size: 30px;    
            color: greenyellow;
            margin-left: 1em;
            margin-top: 0em !important; 
        } 
        .container-topSongs{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap !important;
            align-items: start;
            justify-content: start !important;
            .containerItemTitle{
            color: greenyellow;
            text-shadow: 3px 3px 3px rgb(0, 0, 0);
            margin: 0 0 !important;
            font-family: var(--special);
        }
    }
    .buttonStats{
        transition: all 1s;
    }

    .buttonStats:hover{
        background-color: greenyellow;
        border-radius: 5px;
        color: black;
    }
}

footer{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1.5em;
}